article.about
  
  p.ingress
    span.lars I'm an independent 
      span
        img(src="/images/me.jpg", alt="Lars Høie")
    | graphic designer studying at 
    span.csm Central Saint Martins 
      span
        img(src="/images/csm.jpg", alt="Lars Høie")
    | in 
    span.london &#9730; 
      span
        img(src="/images/london-1000-min.jpg" alt="London")
    br
    span Always up for new projects and colla&#173;borations.  
      | Find me on 
      a(href='http://twitter.com/larshoie') twitter
      |, 
      a(href='http://behance.com/larshoie') behance
      |, 
      a(href='http://instagram.com/larshoie') instagram
      |, 
      a(href='mailto:mail@larshoie.com') e-mail
      |  or 
      a(href='tel:+47-92444762') call me, maybe?
    
  ul.education
    li
      h3 Education
    li
      ul
        li 2014 &ndash; 2016 
        li B.A. (Hons) Graphic Design,
        li Central Saint Martins, United&nbsp;Kingdom.
    li 
      ul
        li 2012 &ndash; 
        li B.A. Visual Communication,
        li Høgskolen i Buskerud og Vestfold, Norway.
  
  ul.experience
    li
      h3 Experience
    li 
      ul 
        li Op designstudio, Norway 
        li Internship, June &ndash; Sept 2014.
        li Freelance Graphic Designer, 2012&nbsp;&ndash;
