header
  ul.logo
    li
      a(href='/') Lars Høie
    li
      a(href='#') Call +47 924 44 762 for a good time
  nav(role='navigation')
    ul
      li
        a.projects-link(href='/') Projects
      li
        a(href='#') Process
