p
  | Lars Høie (b. 1989), 
  | graphic designer studying at Central Saint Martins in 
  span.london &#9730; 
     //img(src="/images/london-2.jpg", alt="London")
  //-. 
  //-On the lookout for internships &#9728;&nbsp;/&nbsp;&#9730;&nbsp;2016. 
  br
  span Always up for new projects and colla&#173;borations.  
    | Find me on 
    a(href='http://twitter.com/larshoie') twitter
    |, 
    a(href='http://behance.com/larshoie') behance
    |, 
    a(href='http://instagram.com/larshoie') instagram
    |, 
    a(href='mailto:mail@larshoie.com') e-mail
    |  or 
    a(href='tel:+47-92444762') call me, maybe?
    
