h1 {
  font-size: 4rem;
  line-height: 1.2;
  color: $light;
}

%dark-outline {
  color: $light;
  -webkit-text-fill-color: transparent; /* FF/IE Fuck-fix... Override color (regardless of order) */
  //-webkit-text-stroke-width: 0.3vmax;
  -webkit-text-stroke-width: 0.15vw;
  -webkit-text-stroke-color: $light;
}

.about {
  padding:6vw;
    @include skjerm {
      padding:$padding;
    }
  @extend .left-page;
    h2 {
      font-size: inherit;
      line-height: 4;
      @extend %underlined;
    @include skjerm {
    h2 {
      font-size: 1.5vw;
      }
    }
  }
}

.ingress {
  @extend .left-page;
  @extend  %dark-outline;
  @extend %vertical-half;
  display:block;
  font-size: 4rem;
  font-size: 13.5vw;
  font-size: 6.5vmax;
  line-height: 1.2;
  color: $light;
  padding-bottom:10vmin;
  padding-left:6vw;
  padding-top:4vh;
  //padding-right:6vw;

    position: fixed;
    z-index: -1;
    top: 0;

  @include skjerm {
      position:static;
      padding-left:$padding;
  line-height: 1.255;
  font-size: 6.2vw;
  padding-top: $top!important;
  height:auto;
    span {display:none;}
  }
}

.contact {
  padding-bottom: 10vmin;
}

.experience, .education {

  @include skjerm {
    width: 50%;
    font-size: 1.5vw;
    padding-bottom: 1rem;
    float: left;
  }

}
