/* .project-info, .project-list {
  box-shadow: 0vw 0vw 100vw 10vw red;
} */

/* .ingress, .ingress-project {
  box-shadow: 0vw 0vw 1vw 1vw red;
} */

body {
  overflow-x:hidden;
  box-sizing: border-box;
  margin: 0 auto;
  //padding: $padding;
  //background: yellow;
  //background: blue;
  background: $light;

  // Font
  font-family: $sans-serif;
  font-style: condenced;
  letter-spacing: 0.07rem;
  line-height: 1.6;
  font-size: 1.8em;
  font-size: 7vw;
  font-size: 6vw;
  @include skjerm {
    padding: $padding;
    line-height: 1.4;
    font-size: 1.8vw;
    padding: 0;
  }
    color:$light;

  // Kerning
  //font-feature-settings: "kern" 1; //hmm?
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern"; /* Firefox 14+ */
  font-feature-settings: "kern"; /* standard */
  font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/

  // Ligatures
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
}


  // Windows Phone/Tablet/Metro responsive tags
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

@include scrollbars(0.25rem, $dark);

*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

// Links
a {
  text-decoration: none;
  color: $light;
  //border-bottom: 0.15rem solid transparent;
  border-bottom: 0.20vw solid transparent;
}

a:hover, .active  {
  text-decoration: none;
  color: $dark;
  //border-bottom: 0.15rem solid $light;
  border-color: $dark;

}

//cursor

/* body[data-direction='meh'] {
    cursor: default
}

body[data-direction='up'] {
    cursor: url("css/fonts/up-42.svg"),n-resize
}

body[data-direction='down'] {
    cursor: url("css/fonts/down-42.svg"),s-resize
}
 */


.control[data-direction='meh'] {
    cursor: default
}

.control[data-direction='up'] {
    //cursor: url("css/fonts/up-80.svg"),n-resize;
    cursor: url("fonts/up-80.svg"),n-resize
}

.control[data-direction='down'] {
    //cursor: url("css/fonts/down-80.svg"),s-resize;
    cursor: url("fonts/down-80.svg"),s-resize;
}

.control {
width: 50%!important;
height:100%!important;
color: transparent;
background: transparent;
position: fixed;
z-index: 9;
top: 0;
left: 0;
}

// Lists

ul {

}

li {
  list-style: none;
}

// Table
table {
  color: $light;
  td {
    padding: 0 1.5rem;
    font-size: 2vw;
  }
}

// Bilder

figure { //kanskje slett og flytt til normalize-ish
  margin:0;
}
img {
  width: 100%;
  height: auto;
}

// Page
.left-page {
  background:$dark;
  color:$light;
  padding:$padding;
  width:100%;
  float:none;
  @include skjerm {
    width:50%;
    float:none;
    //margin-left:-50%;
  }
}

.right-page {
  color:$dark;
  padding:$padding;
  width:100%;
  float:none;
  overflow:hidden;
  @include skjerm {
    color:$light;
    background:$light;
    position: fixed;
    overflow:visible;
    z-index:1;
    width:50%;
    min-height:100vh;
    top:0;
    right:0;
  }
}
