html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-size: 2vw;
  color:$dark;
  background: $light;
  line-height:1.25;
  font-family:$sans-serif;
  letter-spacing: 0.08vw;

  // Kerning
  //font-feature-settings: "kern" 1; //hmm?
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern"; /* Firefox 14+ */
  font-feature-settings: "kern"; /* standard */
  font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/

  // Ligatures
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */

  @include mobil {
    font-size: 8vw;
    line-height:1.35;
    overflow: visible;
  }
}


.container, .content {
    height: 100%;
  }

* { box-sizing: border-box }

a {
  text-decoration: none;
  color: $dark;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
// a:hover {
//   @extend %underline-dark;
// }

ul,li {
  margin:0;
  padding:0;
  list-style:none;
}

.col1, .col2 {
  float:right;
  width:50%;
  padding:2vw;
  padding: 2vw 2vw 10vh 2.7vw;
  height:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  backface-visibility:hidden;
  transform: translateZ(0);
  padding-bottom: 20vh;
  @include mobil {
    padding: 0;
    width: 100%;
    float: none;
    height: auto;
    overflow: visible; //????
  }
}

.col1 {
  background: $dark;
  color: $light;
  a { color: $light;}

  @include mobil {
    background: $light;
    color: $dark;
    a { color: $dark;}
  }

}

.col2 {
  background: $light;
  @include mobil {
    float: none;
    width: 100%;
    overflow: visible;
    height: auto;
  }
}

.col1:hover, .col2:hover {
  position: relative;
  z-index:$layer9;
}

// .col1:hover {
//   position: relative;
//   z-index:999999;
// }

video {
  width: 80vw;
  height: 80vh;
  object-fit: cover;
}
