.container .project-info {
  animation-duration: 0.250s;
  animation-delay:0.450s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

.container .project-info.group a {
  animation:none!important;
  opacity:1!important;
}


// .container.is-exiting .project-info {
//   animation-direction: reverse;
//   animation-duration: 5s;
//   //animation-delay:0.450s;
//   transition-timing-function: ease-in;
//   animation-fill-mode: both;
//   animation-name: fadeIn;
// }
//
// .container.is-exiting .item {
//   animation-direction: reverse;
//   animation-duration: 0.5s;
//   //animation-delay:0.450s;
//   transition-timing-function: ease-in;
//   animation-fill-mode: both;
//   animation-name: fadeIn;
// }

.item.stacking-transition img {
  pointer-events:initial;
  z-index:999999999999!important;
}

.ingress-project.stacking-transition {
  z-index:999999999999!important;
}

.project-info.stacking-transition {
  z-index:-1;
}

//cutting animations for v6
.container .content {
/* animation-duration: 0.25s;
transition-timing-function: ease-in;
animation-fill-mode: both;
animation-name: fadeIn; */
}

/* .container .content .project-info {
animation-duration: .35s;
transition-timing-function: ease-in;
animation-fill-mode: both;
animation-name: fadeIn;
}
 */
.container.is-exiting .content {
  /* animation-direction: alternate-reverse; */
}

.container.is-loading {
  opacity:1;
  background:red;
}

//Keyframes
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
