

//horizontal grid

.half {
  width: 100vw - $padding * 2;
  margin: 0 auto;
}

.half--left {
  width: 50%;
  float:left;
  padding-left:$padding;
  //height:100%;
}

.half--right {
  width: 50%;
  float:right;
  padding-right:$padding;
  color:$light;
  padding:$padding;
  //height:100%;
}

//vertical grid

%vertical-half {
  height: 50vh;
  float:left;
  padding:$padding;
}

%vertical-full {
  height: 100vh;
  float:left;
  padding:$padding;
}
