.zzz {
  position: relative;
  z-index: 999!important;
}


// .hidethatshit {
//   position: fixed;
//   top: 10vh;
//   bottom: 10vh;
//   right:10vw;
//   width:38%;
//   //height: 80vh;
//   background: transparent;
//   //background: red;
//   z-index: 9999;
//   opacity: 0.5;
//   //pointer-events: none;
//   @include mobil {
//     display: none;
//   }
// }

.hidden {
  display:none;
}

.hide-m {
  .about {
    @include mobil {
      display: none;
    }
  }
}








.fifty-fifty {
    width: 50%;
    height: 100vh;
    overflow: hidden;
    background-color: $dark;
    position: fixed;
    top: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0.2;
}

// header {
//   @include mobil {
//     background: transparent;
//   }
// }
