.lars {
  /* color: $light;
  -webkit-text-fill-color: $light; FF/IE Fuck-fix... Override color (regardless of order)
  //-webkit-text-stroke-width: 0.3vmax;
  -webkit-text-stroke-width:0px;
  -webkit-text-stroke-color: transparent; */

  /* border: 0.15vw solid $light;
  padding: 0 1.5vw; */
}

.call, .goodtime {
  display:none;
  @include skjerm {
    display:inline;
    color:$light;
  }
}
.me {
  float:right;
  @include skjerm {
    display:inline;
    float:none;
  }
}

header.contact {
  padding:6vw;
  position:relative;

  color:$dark;
  background:$light;

  @include skjerm {
  background:transparent;
  padding:0;
  z-index: 9; //999
  position: fixed;
  top:0;
  }
  .logo {
    a {
      color:$dark;
      @include skjerm {color:$light;}
    }
    //display:none;
    @include skjerm {
      width: 50%;
      left:0;
      display:block;
      position:fixed;
      padding:$padding;
      //color:$light;
      background:$dark;
    }

  }
  a.projects {
    display:inline;
    text-align:left;
    position:static;
    line-height: 4;
    padding:0;
    top:0;
    right:0;
    border-top:0;
    border-right:0;
    border-left:0;
    @extend %underlined;
    border-color:$dark;

      @include skjerm {
      line-height: inherit;
      width:50%;
      display:block;
      position:fixed;
      padding:$padding;
      border: none;
      }
  }

  a:hover {
    //border: none;
    }

}


header.project-header {
  padding:2vw;
  position:relative;
  color:$dark;
  background:$light;

  @include skjerm {
  background:transparent;
  padding:0;
  z-index: 99; //999
  position: fixed;
  }
  a.projects {
    display:inline;
    text-align:left;
    position:static;
    line-height: 4;
    padding:0;
    top:0;
    right:0;
    border-top:0;
    border-right:0;
    border-left:0;
    @extend %underlined;
    border-color:$dark;
      @include skjerm {
      line-height: inherit;
      width:50%;
      display:block;
      position:fixed;
      padding:$padding;
      border: none;
      }
  }
  a:hover {
    //border: none;
    border-color: $dark;
    }
}





%light {
  color: $dark;
  background: $light;
}

%dark {
  color: $dark;
  background: $light;
    @include skjerm {
    text-align: left;
    color: $light;
    background: $dark;
      &:hover {
      //color: $dark
      }
    }
}

%left {
  width: 50%;
  left:0;
  display:block;
  position:fixed;
  padding:$padding;
  }

%right {
  width: 50%;
  top:0;
  right:0;
  display:block;
  text-align: right;
    @include skjerm {
      text-align: left;
    }
  position:fixed;
  padding:$padding;
  }
