header {
  position:relative;
  @include skjerm {
  z-index: 99; //999
  position: fixed;
  }
  a.logo {
    display:none;
    @include skjerm {
      width: 50%;
      left:0;
      display:block;
      position:fixed;
      padding:$padding;
      color:$light;
      background:$dark;
    }

  }
  a.projects {
    display:inline;
    text-align:left;
    position:static;
    line-height: 4;
    padding:0;
    top:0;
    right:0;
    border-top:0;
    border-right:0;
    border-left:0;
    @extend %underlined;
    border-color:$dark;

      @include skjerm {
      line-height: inherit;
      width:50%;
      display:block;
      position:fixed;
      padding:$padding;
      border: none;
      }
  }

  a:hover {border: none}

}

%light {
  color: $dark;
  background: $light;
}

%dark {
  color: $dark;
  background: $light;
    @include skjerm {
    text-align: left;
    color: $light;
    background: $dark;
      &:hover {
      //color: $dark
      }
    }
}

%left {
  width: 50%;
  left:0;
  display:block;
  position:fixed;
  padding:$padding;
  }

%right {
  width: 50%;
  top:0;
  right:0;
  display:block;
  text-align: right;
    @include skjerm {
      text-align: left;
    }
  position:fixed;
  padding:$padding;
  }
