header {
  a {display:block; padding: 1vh 0.7vw;}
  .logo, .main ul {
    width:50%;
    float: left;
    padding: 0vh $padding;
    position: relative;
    z-index: 999999991;
  }

  .logo {
    background: $dark;
    a {
      color: $light;
    }
    li:first-child {
      float: left;
    }
    li:last-child {
      float: right;
      display: none;
    }
  }
  .main ul{
    background: $light;
    float: left;
    li {
      float: left;
      //width:30%;
      //padding-right:2vw;
    }
    li:last-child {
      float: right;
    }
  }
}
