nav.projects {
  // width: 100%;
  // height: 100vh;
  // z-index: 99999;
  // position: fixed;
  // pointer-events: none;
  // overflow: hidden;
  //
    width: 100vw;
    height: 100vh;
    z-index: 999999990;
    position: fixed;
    pointer-events: none;
    overflow: visible;

  @include mobil {
    height: auto;
  }
}

ul.projects-container, ul.projects-container-home { // hover denne i js!!??
  // right: 0;
  // position: fixed;
  // z-index: 99999;
  // height: 100vh;
  // overflow: scroll;
  // pointer-events: initial;
  // width: 50%;
  // background-color: $light; //farge for alt
  // padding: 0 1.6vw 21.3vh;
  //
    right: 0;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    overflow: scroll;
    pointer-events: initial;
    width: 100vw;
    padding: 0 1.6vw 21.3vh;
//
    pointer-events: none; //wooooooowwoowo viktig. bah.


  @include mobil {
    background-color: yellow;
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: visible;
    height: auto;
    width: 100%;
    display: block;
    display: none;
  }
}

.projects-inner, .projects-inner-home { //viktig for padding top!
  // padding-top: 8vw;
  // pointer-events: initial;
  // height: 100%;
  //
  // -------------------------padding-top: 8vw; ///hmmmmmmmmmmmmmmmmmmm 3.sept 19.52
  //pointer-events: initial;
  width: 50vw;
  overflow: hidden;
  right: 0;
  position: absolute;
  //
  //height: 100%;
  //min-height: 99.99vh;
  background: $light;
  //
  pointer-events:none;
}

.list-of-projects {
  width: 100%;
  height: 100%;
  //display: flex; //hmm
  //flex-direction: column; //hmm
  //
  padding: 14vh 2vw;
  pointer-events:initial;

  @include mobil {
    width: initial;
    height:initial;
  }
  li {
    float: none; //super important if no flex
  }
}

.project-meta {
}

.project-meta li {
  float: left;
}
.project-link {
  border: .35vw solid transparent;
  padding: 0.2vw 0.5vw 0.3vw;
  overflow: hidden;
  margin-bottom: -0.35vw;
  width:99%;
}
.project-link:hover, .project-link:focus {
  border-color: $dark;
  outline: none;
}

.project-image {
  pointer-events: none;
  position:fixed;
  width:40vw;
  height:80vh;
  top:10vh;
  bottom:10vh;
  left:10vw;
  right:10vw;
  z-index:9999;
  overflow: hidden;
  display: none;
  // @include mobil {
  //   display: none;
  // }
  img {
    object-fit: cover;
    pointer-events: none;
    top:0;
    bottom:0;
    left:0;
    // height:100vh;
    // width:100vw;
    //
    height: 100%;
    width: 100%;
  }
}

.project-link:hover .project-image {
  display: block;
  pointer-events: none;
  overflow: visible;
}

li.project-title {
  width:60%;
}
li.project-type {
  float: left;
  width: 31%;
}

li.project-year {
  float: right;
  width: 9%;
}











.mobil-nav {
  padding: 20vh 8vw;
  background: $light;
  float: none;
  overflow: hidden;

  a {color: $dark;}
  li {}
  ul, li, li:first-child {
    overflow: hidden;
    line-height: 1.2;
    padding-bottom: 0.2vh;
    overflow: hidden;
  }
  .project-title {
    width: 75%;
    padding-right: 0.5vw;
  }
  .project-type, .project-year {
    font-size: .5em;
    letter-spacing: .2vw;
    float: right;
    width: 25%;
  }
  .list-of-projects {
      width: 100%;
      height: 100%;
      //padding: 14vh 2vw;
      pointer-events: initial;
  }
  .project-link {
    border: none;
    padding: .2vw .5vw .3vw;
    overflow: hidden;
    margin-bottom: 3vw;
    width: 99%;
    display: block;
  }
  @include skjerm {
    display: none;
  }
  @include tablet {
    display: none;
  }
}



// .projects-container-home {
//   display: block!important;
//   //visibility: hidden;
//   height: auto;
//   overflow: auto;
// }






//fixxx

ul.projects-container, ul.projects-container-home {
    right: 0;
    position: fixed;
    z-index: 9999;
    /* height: 100vh; */
    /* overflow: hidden; */
    width: 100vw;
    padding: 0 1.6vw 21.3vh;
    pointer-events: none;
}

.projects-inner, .projects-inner-home {
    width: 50vw;
    /* overflow: scroll; */
    right: 0;
    position: absolute;
    background: #fcfcfc;
    pointer-events: none;
    /* height: auto; */
}

.list-of-projects {
    width: 100%;
    height: 100vh;
    padding: 14vh 2vw;
    pointer-events: initial;
    overflow: scroll;
}
