h2.project {
  //mobil
  font-size: inherit;
  line-height: 4;
  @extend %underlined;
  //skjerm
  @include skjerm {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 99999;
    color: $dark;
    opacity: 1;
    overflow: hidden;
    line-height: 2;
    width: 50%;
    display: block;
    background-color: $light;
    padding: 2vw;
    border-color: transparent;
    }
}


ul.project {
  //@include hide;
}

.project {
  overflow: hidden;
  width: 100%;
  //height:50vh;
  display: block;
  &:nth-child(even) {
    //background:$light;
  }
  &:nth-child(odd) {
    //background:$light;
  }
}

.project:hover .project-image {
  @include skjerm {
  //background:yellow;
  opacity:1!important;
  display:block;
  position:fixed!important;
  }
}

.project-image {
  display:none;
  @include skjerm {
  opacity:0; //!!!!OMG WTF
  padding:0;
  margin:0;
  position: fixed;
  overflow:hidden;
  top:15vmin;
  left:10vmin;
  bottom:10vmin;
  right:10vmin;
  right:50%;
  right:50%;
  pointer-events:none;
     img {
      min-height:70vmin;
      width:auto;
    }
  }
}

.project-list {
  background: $light;
  color:$dark;
  padding:0 6vw 15vw;
  margin-top:50vh;
  min-height:105vh;
  //@include skjerm {padding:0 6vw 20vh;}
  a {
    color:$dark;
    margin-left:-1vw;
    border: 0.3vw solid transparent;
    padding: 0.1vw 0.2vw 0.2vw 0.6vw;
    &:hover {
      border-color: $dark;
      //color:$light;
    }
  }
  @extend .right-page;
    @include skjerm {
      min-height:110vh;
      margin-top:0;
      padding:$padding;
      padding-top:calc(25vh + 2vw)!important; //$top 25vh
      color: $light;
    }

    li {
      //display: inline;
    }
  }
