img {
width: 100%;
height: 52vh;
//height: 100%;
object-fit: cover;
  @include skjerm {
  //object-fit: cover;
  //height: 100%;
  }
}

/* .featured {
  //display:none;
  @include skjerm {
    li {
      @extend h1;
      color: transparent;
      -webkit-text-stroke: 0.2rem $light;
      }
    figure {
      opacity:0;
      padding:0;
      z-index:9999;
      position: fixed;
      width:60%;
      left:50%;
      top:-100vh;
      margin: 0 0 0 -30%;
      pointer-events:none;
      }
    li:hover figure {
      opacity: 1;
      }
  }
} */

.project-info {
    width:100%;
    float:left;
    background: $light;
    color:$dark;
  @include skjerm {
    padding-top: $top;
    padding-left: $padding;
    padding-right: $padding;
    min-height: 100vh;
    position:fixed;
    top:0;
    right:0;
    width:50%;
    overflow: hidden;
    background: $light;
    color: $dark;
    z-index: 0;
      &:hover {
        z-index: 99999;
      }
  }
}

.meta { //li
  float:left;
  width:100%;
  //font-size: 2vw; //resten arver størrelsen
  & > p {
    padding-top: 5vmax;
  }
}


.project-title {
  //display:none;
@include skjerm {
  display: block;
  float:left;
  width:60%;
  text-align:left;
  font-size: inherit;
  }
}

.project-type {
  display:none;
  @include skjerm {
    display: block;
    font-size: inherit;
    float: left;
    margin-right:2%;
    width: 25%;
  }
}

.project-year {
  display:none;
  @include skjerm {
    display: block;
    font-size: inherit;
    width: 9%;
    float: left;
    text-align: left;
  }
}

.project-main-photo {
  //display:none;
    @include skjerm {
      padding:0;
      margin:0;
      z-index:-999;
      position: fixed;
      overflow:hidden;
      top:15vmin;
      left:10vmin;
      bottom:10vmin;
      //right:10vmin;
      right:50%;
      //margin: 0 0 0 -25vmin;
      pointer-events:none;
         img {
          object-fit: cover;
          min-height: 70vmin;
          width:auto;
          //margin-left:-25vmin;
        }
    }

}

 @keyframes project-slide-up {
  from {margin-top:100vh;}
  to {margin-top: $top * 2.5;}
}

.project-content {
  //background: orange;
  @include skjerm {
    pointer-events:none;
    position:relative;
    z-index:99;
    width: 100vw;
    float:left;
    padding:0;
    margin:0;
    animation: project-slide-up 1s 1;
    //margin-top: $top * 3.5; //HHHHHEEEYYYYY
    margin-top: $top * 2.5; //HHHHHEEEYYYYY
    padding-bottom:10vmin;
    // chidren
    & li {
      //background: yellow;
      height:100%;
    //object-fit: contain;
      width:96%;
    //  margin-top: 20%;
    }

    & img {
      object-fit: contain;
      height: 80vh;
      pointer-events: initial;
      pointer-events: none;
      margin-top: 10vh;
      margin-bottom: 10vh;
    }
  }
}

.project-background-white {
  display: none;
  @include skjerm {
    height:100%;
    width:50%;
    background:$dark;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    a {
      position:absolute;
      left:$padding;
      bottom:2vmin;
      color: $light;
    }
  }
}
.project-background-black {
  display: none;
  @include skjerm {
    height:100%;
    width:50%;
    background:$light;
    position:absolute;
    right:0;
    top:0;
    z-index:-1;
    a {
      position:absolute;
      right:$padding;
      bottom:2vmin;
      color: $dark;
      &hover {border-color:$dark;}
    }
  }

}
