// colors
   $light: #fcfcfc;
   //$dark: blue;
   //$light: #fcfcfc;
   $dark: #1a1a1a;
   //$light: gold;
   //$light: white;
   //$light: #1c1c1c;


   //$light: white;



// Font-face
    @font-face {
        font-family: 'RT Obligat';
        src: url('/css/fonts/rt_obligat.woff2') format('woff2'),
             url('/css/fonts/rt_obligat.woff') format('woff');
        font-weight: normal;
        font-style: normal;

    }

  @font-face {
    font-family: 'RT Obligat Outlined';
    src: url('/css/fonts/rt_obligat_outlined.woff2') format('woff2'),
         url('/css/fonts/rt_obligat_outlined.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



// Font-stacks
   $sans-serif:"RT Obligat", "Helvetica Neue", sans-serif;
   $serif:"Times New Roman", serif;
   $outlined: "RT Obligat Outlined", "Helvetica Neue", sans-serif;


  .absolute {
    position:absolute!important;
  }

   %underlined {
      border-bottom: 0.2rem solid $light;
      display:inline;
   }

@mixin hide {
   position: absolute;
   clip: rect(0, 0, 0, 0);
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}


// Breakpoints
   $mobile-width: 500px;
   $tablet-width: 800px;
   $screen-width: 960px;

   @mixin mobil {
     @media (min-width: $mobile-width) {
       @content;
     }
   }

   @mixin tablet {
     @media (min-width: $tablet-width) {
       @content;
     }
   }

   @mixin skjerm {
     @media (min-width: $screen-width) {
       @content;
     }
   }


   // universal padding (grid etc.)
      $padding:2vw;
      //$top:25vh;
      $top:14vh;
      $top:10vw;
      //$top:4vh;
