@import "variables";
@import "normalize";
@import "normalize-opentype";
@import "base";
@import "grid";
@import "single-project";
@import "photo-grid";
@import "typography";
@import "header";
@import "about";
@import "projects";
@import "other-projects";
@import "fluff";

#__bs_notify__ {
  display:none!important;
}

/* @supports ( display:flex ) {
  .ingress {
    display:none!important;
    background:yellow!important;
  }
}

body {
  display:none;
}
 */
