$light: #fcfcfc;
//$light: yellowgreen;
$dark: #1a1a1a;
//$dark: green;

$padding: 2vw;
$stroke-width:0.22vw;



  $layer1: 10;
  $layer2: 20;
  $layer3: 30;
  $layer4: 40;
  $layer5: 50;
  $layer6: 60;
  $layer7: 70;
  $layer8: 80;
  $layer9: 90;
 $layer10: 100;
 $layer11: 110;




// Breakpoints
   $mobile-width: 500px;
   $tablet-width: 800px;
   $screen-width: 960px;

   @mixin mobil {
     @media (min-width: $mobile-width) {
       @content;
     }
   }

   @mixin tablet {
     @media (min-width: $tablet-width) {
       @content;
     }
   }

   @mixin skjerm {
     @media (min-width: $screen-width) {
       @content;
     }
   }

   @mixin print {
     @media print {
       @content;
     }
   }




// Font-face
  @font-face {
      font-family: 'RT Obligat';
      src: url('/css/fonts/rt_obligat.woff2') format('woff2'),
           url('/css/fonts/rt_obligat.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
    font-family: 'RT Obligat Outlined';
    src: url('/css/fonts/rt_obligat_outlined.woff2') format('woff2'),
         url('/css/fonts/rt_obligat_outlined.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

// Font-stacks
   $sans-serif:"RT Obligat", "Helvetica Neue", sans-serif;
   $serif:"Times New Roman", serif;
   $outlined: "RT Obligat Outlined", "Helvetica Neue", sans-serif;




   @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
     ::-webkit-scrollbar {
         width:  $size;
         height: $size;
     }

     ::-webkit-scrollbar-thumb {
         background: $foreground-color;
     }

     ::-webkit-scrollbar-track {
         background: $background-color;
     }

     // For Internet Explorer
     body {
       scrollbar-face-color: $foreground-color;
       scrollbar-track-color: $background-color;
     }
   }

   @include scrollbars(0px, transparent, transparent);


#__bs_notify__ {
  display:none!important;
}


// Windows Phone/Tablet/Metro responsive tags
@-ms-viewport {
width: device-width;
}

@viewport {
width: device-width;
}





html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-size: 2vw;
  color:$dark;
  line-height:1.25;
  font-family:RT obligat;
  letter-spacing: 0.08vw;

  // Kerning
  //font-feature-settings: "kern" 1; //hmm?
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern"; /* Firefox 14+ */
  font-feature-settings: "kern"; /* standard */
  font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/

  // Ligatures
  text-rendering: optimizeLegibility; /* optional: for older browsers */
  -webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
  font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
}

.container, .content {
    height: 100%;
  }

* { box-sizing: border-box }

a {
  text-decoration: none;
  color: $dark;
}

ul,li {
  margin:0;
  padding:0;
  list-style:none;
}





.col1, .col2 {
  float:left;
  width:50%;
  padding:2vw;
  padding: 2vw 2vw 10vh 2.7vw;
  height:100%;
  overflow:scroll;
  backface-visibility:hidden;
  transform: translateZ(0);
  padding-bottom: 10vh;
}

.col1 {
  background: $dark;
  color: $light;
  a { color: $light;}
}

.col2 {
  background: $light;
}

.col1:hover, .col2:hover {
  position: relative;
  z-index:$layer10;
}

// .col1:hover {
//   position: relative;
//   z-index:999999;
// }

h2 {
  padding-top: 0;
  margin-top: 6vh;
  text-align: center;
  font-size: 16vw;
  line-height:0.9;
  padding-bottom: 0vmin;
}

h3 {
  font-size: 1.5vw;
  margin-bottom:1em;
}

ul.images {
  position: fixed;
  z-index: $layer9;
  left:10vw;
  top: 10vh;
  right:10vw;
  bottom:10vh;
  width:80vw;
  display:flex;
  flex-direction:column;
  height:80vh;
  &:hover {z-index: $layer11;}
  li {
    overflow:hidden;
    height:100%;
    //width:100%;
    //background:yellow;
  }
  li img {
    //opacity: 0;
  }
  li:hover img {
    //opacity: 1;
    height:80vh;
    width:80vw;
    overflow: hidden;
    object-fit: cover;
    pointer-events:none;
    position:fixed;
    z-index:$layer10;
    top:10vh;
    bottom:10vh;
  }
  img {
    max-width:100%;
    height:80vh;
    width:80vw;
    pointer-events:none;
    object-fit: cover;
  }
}





header {
  a {display:block; padding: 1vh 0.7vw;}
}

.logo, nav ul {
  width:50%;
  float: left;
  padding: 0vh $padding;
  position: relative;
  z-index: 999999991;
}

.logo {
  background: $dark;
  a {
    color: $light;
  }
  li:first-child {
    float: left;
  }
  li:last-child {
    float: right;
    display: none;
  }
}
nav ul{
  background: $light;
  float: left;
  li {
    float: left;
    //width:30%;
    //padding-right:2vw;
  }
  li:last-child {
    float: right;
  }
}





.ingress {
  font-size: 5.66vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: $stroke-width;
  //padding-top: 14vh;
  //padding-top: 22vh;
  padding-top: 1vh;
  margin-top: 6vh;
  //padding-left: 0.7vw;
  margin-bottom: 1em;
}

.london img {
  display: none;
}
.london:hover img {
  display: block;
  z-index: $layer10;
  position: fixed;
  //width: 80vw;
  height: 80vh;
  top: 4vh;
  left: 10vw;
  right: 0;
  bottom: 10vh;
  pointer-events: none;
  object-fit: cover;
}

.experience, .education {
  width: 50%;
  font-size: 1.5vw;
  padding-bottom: 1em;
  float: left;
  ul {padding-bottom: 1em;}
}












.projects-link-menu, .projects {
  display: block;
  position: fixed;
  width: 90%;
  z-index: 99999999; //!!!! hmm
  //background: $light;
  height:100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  right:0;
  //left:10vw;
  padding: 2vh $padding 0;
  //top:2vw;
  >ul {
    overflow-y: scroll;
    //width: 46vw; //??????
    position: relative;
    right: -44.2%;
    background-color: $light;
    z-index: 9999999;
    //height: 100%;
    min-height: 100%;
    padding-left: 2vw;
    padding-top: 5.35vw;
    padding-top: 10.35vw;
    //padding-top: 36vh;
}
  img, .slides {
    object-fit: cover;
    pointer-events: none;
    position:fixed;
    width:40vw;
    height:80vh;
    top:10vh;
    bottom:10vh;
    left:10vw;
    right:10vw;
    z-index:9999;
    display: none;
  }
}
.projects {
  pointer-events: none;
}
.projects>ul {
  pointer-events: initial;
}
.project-meta li {
  float: left;
  display: block;
}
.project-link {
  border: .35vw solid transparent;
  //padding: 1vw 2vw 1.1vw;
  padding: 0.2vw 0.5vw 0.3vw;
  overflow: hidden;
  margin-bottom: -0.35vw;
  width:46vw;
}
.project-link:hover, .project-link:focus {
  border-color: $dark;
  outline: none;
}
.project-link:hover img {
  display: block;
  pointer-events: none;
}

.project-title {
  width:60%;
}
li.project-year {
  float: right;
}

.hidden {
  display:none;
}



















.zzz {
  position: relative;
  z-index: 999!important;
}



.hidethatshit {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  right:10vw;
  width:38%;
  //height: 80vh;
  background: transparent;
  //background: red;
  z-index: 9999;
  opacity: 0.5;
  //pointer-events: none;
}
