extends ../layout/pages-layout.jade

block variables
  - var Title = 'Lars Høie – CV'
  - var lang = 'en'
    
block content
  
  dl
    ////////////-
    dt
      h2 Curriculum Vitae
    dd.small
      ul
        dl
          dt Lars Høie
            dd 
              ul
                li 12.04.1989
      ul
        dl
          dt Address
            dd 
              ul
                li 160 Victoria Rd. 
                li London, W3 6UL
                li United&nbsp;Kingdom
              ul
                li Nye kirkeveg 22A 
                li 4645, Nodeland
                li Norway
      ul
        dl
          dt Phone
            dd 
              ul
                li 
                  a(href="tel:+47.92444762") +47 924 44 762 
      ul
        dl
          dt E-mail
            dd 
              ul
                li 
                  a(href="mailto:larshoie@gmail.com") larshoie@gmail.com 

    ////////////-
    dt
      h2 Education
    dd
      ul
        li B.A. (Hons) Graphic Design,
        li Central Saint Martins, United&nbsp;Kingdom.
        li 2014 &ndash; 2016 
      ul
        li B.A. Visual Communication,
        li Høgskolen i Buskerud og Vestfold, Norway.  
        li 2012 &ndash; 2015
      ul
        li Development studies,
        li Universitetet i Agder, Norway
        li 2011 &ndash; 2012
    ////////////-
    dt
      h2 Experience
    dd
      ul
        li Co-founder, Designer/developer, 
        li so–called­—publishing, 
        li London, 2014&nbsp;&ndash;
      ul
        li Intern, 
        li Op designstudio, Kristiansand
        li June &ndash; Sept 2014.
      ul
        li Freelance Graphic Designer, 
        li London/Kristiansand
        li 2012&nbsp;&ndash;
    ////////////-
    dt
      h2 Skills
    dd
      ul.list-padding
        li My main areas of interest are typography, editorial design, branding and type design.
        li My approach to design is medium and technology agnostic. I work fluently between print-based and digital media. 
        li I use InDesign, Atom, Git, Illustrator and Lightroom on a daily basis. Other tools and languages I use include HTML/Jade, CSS/SASS, Javascript/jQuery and Gulp. For more experimental interactive work I've used processing, and I recently started learning NodeJs and Python. For managing content I use CMS-systems like Craft, Drupal and Wordpress. 
        li Fluent in English and Norwegian.
        
         
 
    ////////////-
    dt
      h2 Qualities
    dd
      ul
        li Creative, precise, reliable and ambitious. 
        li Highly self-motivated and independent.
        li Quick learner, adaptive and collaborative. 
    ////////////-
    dt
      h2 Other
    dd
      p I love to travel off the beaten path to experience other cultures and languages. Some hightlights so far: zigzagging through South-America by bus, mule, and taxi in 2012, crossing Africa by truck in 2011, and Europe by train in 2007, 2010 and 2012.
    ////////////-
