extends ../layout/cv-layout.jade

block variables
  - var Title = 'Lars Høie – CV'
  - var lang = 'no'
    
block content
  
  dl
    ////////////-
    dt
      h2 Curriculum Vitae
    dd.small
      ul
        dl
          dt Lars Høie
            dd 
              ul
                li 12.04.1989
      ul
        dl
          dt Addresse
            dd 
              ul
                li 160 Victoria Rd. 
                li London, W3 6UL
                li United&nbsp;Kingdom
              ul
                li Nye kirkeveg 22A 
                li 4645, Nodeland
                li Norge
      ul
        dl
          dt Telefon
            dd 
              ul
                li 
                  a(href="tel:+47.92444762") +47 924 44 762 
      ul
        dl
          dt E-post
            dd 
              ul
                li 
                  a(href="mailto:larshoie@gmail.com") larshoie@gmail.com 

    ////////////-
    dt
      h2 Utdannelse
    dd
      ul
        li B.A. (Hons) Graphic Design,
        li Central Saint Martins, United&nbsp;Kingdom.
        li 2014 &ndash; 2016 
      ul
        li B.A. Visual Communication,
        li Høgskolen i Buskerud og Vestfold, Norway.  
        li 2012 &ndash; 2015
      ul
        li Development studies,
        li Universitetet i Agder, Norway
        li 2011-2012
    ////////////-
    dt
      h2 Arbeidserfaring
    dd
      ul
        li Op designstudio, Kristiansand 
        li Internship, June &ndash; Sept 2014.
      ul
        li Freelance Graphic Designer, 2012&nbsp;&ndash;
    ////////////-
    dt
      h2 Egenskaper
    dd
      ul
        li Kreativ, nøyaktig og arbeidsom. 
        li Samarbeidsvillig og selvstendig.
        li Fleksibel, pålitelig og ambisiøs. 
    ////////////-
    dt
      h2 Kompetanse og ferdigheter
    dd
      ul
        li Kreativ, nøyaktig og arbeidsom. 
        li Samarbeidsvillig og selvstendig.
        li Fleksibel, pålitelig og ambisiøs. 
    ////////////-
    dt
      h2 Annet
    dd
      p Big fan of spontaneous experiences. Have so far travelled trough about 50 countries and lived in 4. Zigzagged through South-America by bus, mule, and taxi in 2012, crossed Africa by truck in 2011, and Europe by train in 2007, 2010 and 2012.
    ////////////-
