.lars {
  /* color: $light;
  -webkit-text-fill-color: $light; FF/IE Fuck-fix... Override color (regardless of order)
  //-webkit-text-stroke-width: 0.3vmax;
  -webkit-text-stroke-width:0px;
  -webkit-text-stroke-color: transparent; */

  /* border: 0.15vw solid $light;
  padding: 0 1.5vw; */
}

.call, .goodtime {
  display:none;
  @include skjerm {
    display:inline;
    color:$light;
  }
}
.me {
  float:right;
  @include skjerm {
    display:inline;
    float:none;
  }
}

header.contact {
  padding:6vw;
  position:relative;

  color:$dark;
  background:$light;

  @include skjerm {
  background:transparent;
  padding:0;
  z-index: 9; //999
  position: fixed;
  top:0;
  }
  .logo {
    a {
      color:$dark;
      @include skjerm {color:$light;}
      &:hover {transition: 0.25s;}
    }
    //display:none;
    @include skjerm {
      width: 50%;
      left:0;
      display:block;
      position:fixed;
      padding:$padding;
      //color:$light;
      background:$dark;
    }

  }


}


header.project-header {
  padding:2vw;
  position:relative;
  color:$dark;
  background:$light;
    @include skjerm {
    background:transparent;
    padding:0;
    z-index: 99; //999
    position: fixed;
    }
  /* a.projects {
    display:inline;
    text-align:left;
    position:static;
    line-height: 4;
    padding:0;
    top:0;
    right:0;
    border-top:0;
    border-right:0;
    border-left:0;
    @extend %underlined;
    border-color:$dark;
    transition: 0.25s;
      @include skjerm {
      border-bottom:0.3rem solid transparent;
      line-height: inherit;
      width:50%;
      display:block;
      position:fixed;
      padding:$padding;
      //border: none;
      //transition: 0.25s;
      &:hover {border-color: $dark;}
      }
    } */

}





%light {
  color: $dark;
  background: $light;
}

%dark {
  color: $dark;
  background: $light;
    @include skjerm {
    text-align: left;
    color: $light;
    background: $dark;
      &:hover {
      //color: $dark
      }
    }
}

%left {
  width: 50%;
  left:0;
  display:block;
  position:fixed;
  padding:$padding;
  }

%right {
  width: 50%;
  top:0;
  right:0;
  display:block;
  text-align: right;
    @include skjerm {
      text-align: left;
    }
  position:fixed;
  padding:$padding;
  }

.toggle-list:before {
  content:"(";
  position:relative;
  //margin-left: 3rem;
  left:0;
  right:1rem;
}

.toggle-list:after {
  content:"/";
  //position:relative;
  //margin-left: 3rem;
  //left:1rem;
  padding:0.5rem;
}

.toggle-index:after {
  content:")";
  //position:relative;
  //margin-left: 3rem;
  //left:1rem;
  //padding:0.5rem;
}
 .projects {
   display:inline;
   text-align:left;
   position:static;
   line-height: 4;
   padding:0;
   top:0;
   right:0;
   border-top:0;
   border-right:0;
   border-left:0;
   @extend %underlined;
   border-color:$dark;
     @include skjerm {
     left:50%;
     line-height: inherit;
     //width:50%;
     display:block;
     position:fixed;
     padding:$padding;
     border: none;
     }
     //span {margin:0 1.5rem 0 3rem;}
     a:hover {}
 }
