  h2.project {
  //mobil
  font-size: inherit;
  line-height: 4;
  @extend %underlined;
  //skjerm
  @include skjerm {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 99999;
    color: $dark;
    opacity: 1;
    overflow: hidden;
    line-height: 2;
    width: 50%;
    display: block;
    background-color: $light;
    padding: 2vw;
    border-color: transparent;
    }
}

.project {
  width: 100%;
  display: block;
  &:nth-child(even) {
    //background:$light;
  }
  &:nth-child(odd) {
    //background:$light;
  }
}

.project:hover .project-image, .project:focus .project-image, .active .project-image{
  @include skjerm {
  opacity:1!important;
  display:block;
  position:fixed!important;
  //animation: fadeIn 0.25s;
  }
}

.project-image {
  display:none;
@include skjerm {
  opacity:0; //!!!!OMG WTF
  padding:0;
  margin:0;
  position: fixed;
  pointer-events:none;
  right: 50%;
  bottom: 0;
  left:10vw;
  top:10vh;
  overflow: hidden;
     img {
      height: 80vh;
      width: calc(100vw - 0.25rem);
      max-width:calc(80vw - 0.25rem);
      object-fit: contain;
    }
  }
}
.projects h1 {
  color: $dark;
  display:inline;
  border-top: 0.2vw solid transparent;
  border-bottom: 0.3vw solid $dark;
  padding: 0!important;
  margin: 0;
  font-size: inherit;
}

.project-list {
  background: $light;
  color:$dark;
  padding:0 6vw 15vw;
  margin-top:50vh;
  min-height:105vh;
  a {
    color:$dark;
    margin-left:-1vw;
    line-height: 1.6;
    @include skjerm {
      line-height: 1.4;
      border: 0.3vw solid transparent;
      padding: 0.1vw 0.2vw 0.2vw 0.6vw;
    }
    &:hover, &:focus {
      outline: none;
      border-color: $dark;
    }
  }
  @extend .right-page;
    @include skjerm {
      min-height:110vh;
      margin-top:0;
      padding:$padding;
      padding-top:$top;
      color: $light;
    }

    li {
      //display: inline;
    }
  }
