extends layout/index-layout.jade

block vars
  - var Title = 'Lars Høie'
    
block ingress
  .ingress 
    | Lars Høie (b. 1989), 
    | graphic designer studying at Central Saint Martins in 
    span.london &#9730; 
       //img(src="/images/london-2.jpg", alt="London")
    //-. 
    //-On the lookout for internships &#9728;&nbsp;/&nbsp;&#9730;&nbsp;2016. 
    
    span Always up for new projects and colla&#173;borations.  
      | Find me on 
      a(href='http://twitter.com/larshoie') twitter
      |, 
      a(href='http://behance.com/larshoie') behance
      |, 
      a(href='http://instagram.com/larshoie') instagram
      |, 
      a(href='mailto:mail@larshoie.com') e-mail
      |  or 
      a(href='tel:+47-92444762') call me, maybe?
    
block about
  .about
    .contact I'm always up for new projects, ideas and colla&#173;borations.  
      | Find me on 
      a(href='http://twitter.com/larshoie') twitter
      |, 
      a(href='http://behance.com/larshoie') behance
      |, 
      a(href='http://instagram.com/larshoie') instagram
      |, 
      a(href='mailto:mail@larshoie.com') e-mail
      |  or 
      a(href='tel:+47-92444762') call me, maybe?
    
    ul.education
      li
        h2 Education
      li
        ul
          li 2014 &ndash; 2016 
          li B.A. (Hons) Graphic Design,
          li Central Saint Martins, United&nbsp;Kingdom.
      li 
        br
        ul
          li 2012 &ndash; 
          li B.A. Visual Communication,
          li Høgskolen i Buskerud og Vestfold, Norway.
    
    ul.experience
      li
        h2 Experience
      li 
        ul 
          li Op designstudio, Norway 
          li Internship, June &ndash; Sept 2014.
          li Freelance Graphic Designer, 2012&nbsp;&ndash;
