extends layout/layout.jade

block variables
  - var Title = 'INDEXXXXX'
  - var Description = 'Graphic designer studying at CSM.'

block column_two
  #projects
    +list_of_projects("Hovden kunsthandel","hovden-kunsthandel","Interactive","2015", "1")
    +list_of_projects("Throw up","throw-up","Publication","2015", "1")
    +list_of_projects("So-called-collective","so-called","Branding","2015", "1")
    //-+list_of_projects("Oh my God! It's a bird...","oh-my-god-its-a-bird","Publication","2015", "2")
    +list_of_projects("Shoot first!","shoot-first","Publication","2015", "1")
    +list_of_projects("Scarcity","scarcity","Interactive","2015", "1")
    +list_of_projects("The art of getting lost","the-art-of-getting-lost","Interactive","2015", "1")
    +list_of_projects("Jump around","jump-around","Interactive","2015", "1")
    +list_of_projects("Old school A—Z","old-school-a-z","Lettering","2014", "1")
    +list_of_projects("News for our generation","news-for-our-generation","Editorial","2014", "1")
    +list_of_projects("Design is everything","design-is-everything","Publication","2014", "3")
    +list_of_projects("Bold magazine","bold","Editorial","2014", "1")
    +list_of_projects("Haandbryggeriet","haandbryggeriet","Branding","2013", "2")
