doctype html
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="/css/style.css")
    title #{Title}
    include includes/mixins.jade
  body
  
    include includes/header
    
    block ingress
    
    block project-list
      #projects.project-list
        h2.project Projects
        include includes/project_nav.jade
    
    block about
