doctype html
html
  block variables
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title #{Title}
    include includes/meta.jade
    include includes/assets.jade
    include includes/mixins.jade
  body
    #main.container
      .content
        .ingress
          include includes/ingress.jade
        block project-list
          #projects.project-list
            header.project-header
              .projects
                h1 Projects
                //- a(href="/", class="toggle-list") list
                //- a(href="/index", class="toggle-index") index
            include includes/project_nav.jade
        block about
    include includes/footer.jade
