doctype html
html
  block variables
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Lars Høie — #{Title} 
    include includes/meta.jade
    include includes/assets.jade
    include includes/mixins.jade
  body
    #main.container
      .content
        header
          ul.logo
            li
              a(href='/') Lars Høie
            li
              a(href='#') Call +47 924 44 762 for a good time
          nav.main(role='navigation')
            ul
              li
                a(href='/') Projects
              li
                a(href='#') Process
          nav.projects
            ul.projects-container-home
              li.projects-inner
                include includes/list_of_projects.jade
        .col1
          include includes/about.jade
          block column_one
        .col2
          block column_two
    include includes/footer.jade
