doctype html
html
  block variables
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Lars Høie — #{Title} 
    include includes/meta.jade
    include includes/assets.jade
    include includes/mixins.jade
  body
    #main.container
      .content
        include includes/header.jade
        .col1
          include includes/about.jade
        .col2
          block column_two
    include includes/footer.jade
