doctype html
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="/css/style.min.css")
    title #{Title}
    script(src="http://localhost:48626/takana.js")
    script.
      takanaClient.run({host: 'localhost:48626'});
    include includes/mixins.jade
    
  body
    #main.m-scene
      .scene_element
        include includes/header

        .project-main-photo
          block main-photo

        .project-info
          header
            //- a(href="/", class="projects") Projects
            .group
              a(href="/") Projects 
              span &#8594; 
              a(href="/", class="title") #{Title}
              a(href="/", class="type") #{Type}
              a(href="/", class="year") #{Year}
            
          ul.meta
            p
              block blurb

        ul.project-content
          block project
          
          .project-background-white
            a(href='/') Previous project
          .project-background-black
            a(href='/') Next project
