doctype html
html
  //- <!--[if lt IE 9]>
  //- <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  //- <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  //- <![endif]-->
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Lars Høie — #{Title}
    include includes/assets.jade
    include includes/mixins.jade
  body
    #main.container
      section.content
        .ingress-project
          include includes/ingress.jade
        article.project-info
          header.project-header
            .group
              a(href="/") Projects
              span.arrow 
              span #{Title}
              //-a(href="/", class="type") #{Type}
              //-a(href="/", class="year") #{Year}
              //-&nbsp;&nbsp;
          ul.meta
            p
              block blurb
        ul.project-content
          block project
          li.other-projects  
            div.prev
              block prev
            div.next
              block next
        .control 
    include includes/footer
