doctype html
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(rel="stylesheet", href="/css/style.css")
    title #{Title}
    script(src="http://localhost:48626/takana.js")
    script.
      takanaClient.run({host: 'localhost:48626'});
    include includes/mixins.jade
    
  body
  
    include includes/header
      //-a(href='/') Projects

            
    .project-main-photo
      block main-photo

    .project-info
      header
        a(href="/", class="projects") Projects
      ul.meta
        li
          h2.project-title #{Title}
        li
          h3.project-type #{Type}
        li
          time.project-year(datetime='') #{Year}
        p
          block blurb

    ul.project-content
      block project
      
      .project-background-white
        a(href='/') Previous project
      .project-background-black
        a(href='/') Next project
    
    include includes/footer
