extends ../layout/project-layout.jade

block vars
  - var Title = 'Bold'
  - var Type =  'Editorial'
  - var Year =  '2014'

block project
  //-li.item
    //- ul.six-up
    //-   +project_image("bold","1"," ", "item--in-grid")
    //-   +project_image("bold","1"," ", "item--in-grid")
    //-   +project_image("bold","1"," ", "item--in-grid")
    //-   +project_image("bold","1"," ", "item--in-grid")
    //-   +project_image("bold","1"," ", "item--in-grid")
    //-   +project_image("bold","1"," ", "item--in-grid")
    //- ul.two-up.item
    //-   +project_image("bold","3"," ", "item--in-grid")
    //-   +project_image("bold","3"," ", "item--in-grid")+project_image("bold","4"," ", "item")
  +project_image("bold","1"," ", "item")
  li.item
    .page.quote
      | Full width separate parts are printed on different coloured paper to signify the wonderfully diverse community we want to live in.
  //- li.item
  //-   .page-double-left
  //-     | Left separate parts are printed on different coloured paper to signify the wonderfully diverse community we want to live in.
  //-   .page-double-right
  //-     | Right separate parts are printed on different coloured paper to signify the wonderfully diverse community we want to live in.
  +project_image("bold","2"," ", "item")
  +project_image("bold","3"," ", "item")
  +project_image("bold","4"," ", "item")
  +project_image("bold","5"," ", "item")

  

block blurb
  | Bold is a magazine about design and visual culture aimed at designers and artists living in the U.S. and Northern Europe. 
  | This edition is called ‘the gender issue’ and deals with the role of gender in the world of art and design. 
  | The solution is informed by the concept of the specific edition. We tore down any common notion of hierarchy or structure between the articles by separating them into self-contained booklets and placing them in a box to show the inclusive nature we want to encourage. The order of the articles are random so as to not prioritise any article over another. The separate parts are printed on different coloured paper to signify the wonderfully diverse community we want to live in.

block prev
  +image_link('haandbryggeriet', 'Haandbryggeriet', '1', 'light')

block next
  +image_link('design-is-everything', 'Design is everything', '3', 'light')
