extends ../layout/project-layout.jade

block variables
  - var Title = 'Design is everything'
  - var slug = 'design-is-everything'
  - var Type =  'Publication'
  - var Year =  '2014'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("design-is-everything","1"," ", "item")
  +project_image("design-is-everything","4"," ", "item")
  +project_image("design-is-everything","3"," ", "item")
  +project_image("design-is-everything","5"," ", "item")
  +project_image("design-is-everything","2"," ", "item")
  +project_image("design-is-everything","6"," ", "item")
  +project_image("design-is-everything","7"," ", "item")

block project_info
  | An exploration of design and interaction, with some reflections on the role of the designer in a contemporary context. The loose form of the book facilitated interesting experimentation with the physicality of the book, and all its inherent qualities.

block project_meta
  ul.meta
    li
      ul.project-type
        li
          h3 Project Type
        li Book design
        li Typography
    li
      ul.project-duration
        li 
          h3 Project duration
        li 4 weeks
    li
      ul.tutor
        li 
          h3 Tutor
        li Phil Baines

block brief
  li
    h3 Brief
  li
    p Create a designed object in any medium that answers the question: What is design and interaction? 

block prev
  +image_link('bold', 'Bold', '1', 'light')

block next
  +image_link('news-for-our-generation', 'News for our generation', '1', 'dark')
