extends ../layout/project-layout.jade

block variables
  - var Title = 'Haandbryggeriet'
  - var Type =  'Packaging'
  - var Year =  '2013'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("haandbryggeriet","2"," ", "item")
  +project_image("haandbryggeriet","3"," ", "item")
  
  //- li.item.page
  //-   p The brief was to go into a local grocery store and find a product that needed a re-branding. For our project we chose a local micro brewed beer by Haandbryggeriet. 
  //- li.item.page
  //-   p After a thorough research and strategic phase we found that the existing identity failed to sufficiently communicate the personality and values of the company, and had become more and more fragmented. The existing packaging lacked focus, clarity and cohesion. To solve these problems we decided to completely reinvent the identity starting with a clear and recognisable packaging design system. 

  +project_image("haandbryggeriet","1"," ", "item")
  +project_image("haandbryggeriet","4"," ", "item")

block project_info
  | Our solution was based on the Norwegian word ‘Ildsjeler’ which are people with a real passion and dedication for something, in this instance, beer brewing. Visually it harkens back to a simpler time in Norway, before the mass produced beer took over the market. The grid came out of the need for an easy to use system to accommodate the many new brews, and at the same time increase brand cohesion. It was also of utmost importance to remain authentic to the people, the process and the location. 

block next
  +image_link('bold', 'Bold', '1', 'light')
