extends ../layout/project-layout.jade

block variables
  - var Title = 'Haandbryggeriet'
  - var slug = 'haandbryggeriet'
  - var Type =  'Packaging'
  - var Year =  '2013'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("haandbryggeriet","2"," ", "item")
  +project_image("haandbryggeriet","3"," ", "item")
  
  //- li.item.page
  //-   p The brief was to go into a local grocery store and find a product that needed a re-branding. For our project we chose a local micro brewed beer by Haandbryggeriet. 
  //- li.item.page
  //-   p After a thorough research and strategic phase we found that the existing identity failed to sufficiently communicate the personality and values of the company, and had become more and more fragmented. The existing packaging lacked focus, clarity and cohesion. To solve these problems we decided to completely reinvent the identity starting with a clear and recognisable packaging design system. 

  +project_image("haandbryggeriet","1"," ", "item")
  +project_image("haandbryggeriet","4"," ", "item")

block project_info
  | A proposed identity for Haand-bryggeriet, the awardwinning Norwegian micro brewery, based on the word ‘ildsjeler’ and the old craftsman tradition. It harkens back to a simpler time in Norway, before the mass produced beer took over the market. The word ‘Ildsjeler’ describes people with a real passion and dedication for something, in this instance, beer brewing. 
//- block brief
//-   | The brief was to go into a local grocery store and find a product that needed a re-branding. For our project we chose a local micro brewed beer by Haandbryggeriet. 
//- 
//- block context
//-   | After a thorough research and strategic phase we found that the existing identity failed to sufficiently communicate the personality and values of the company, and had become more and more fragmented. The existing packaging lacked focus, clarity and cohesion. To solve these problems we decided to completely reinvent the identity starting with a clear and recognisable packaging design system. 

block project_meta
  ul.meta
    li
      ul.project-type
        li
          h3 Project Type
        li Packaging
        li Branding
    li
      ul.team
        li
          h3 Team
        li Lars Høie
        li Elise Bjerknse
        li Daniel Sætre Håvoll
    li
      ul.project-duration
        li 
          h3 Project duration
        li 16 weeks
    li
      ul.tutor
        li 
          h3 Tutor
        li Wanda Grimsgaard

block brief
  li
    h3 Brief
  li
    p The brief was to research and observe products sold in grocery stores and the context in which they were sold. Then we were to select a product to work with. The rest of the project was based on a month-long research and strategy phase before we developed the final concept for the packaging and branding. My team chose a local micro brewed beer by Haandbryggeriet.

block context
  li
    h3 Problem
  li
    p After a thorough research and strategic phase we found that the existing identity failed to sufficiently communicate the personality and values of the company, and had become more and more fragmented. The existing packaging lacked focus, clarity and cohesion. To solve these problems we decided to completely reinvent the identity starting with a clear and recognisable packaging design system.    
  li
    h3 Solution  
  li 
    p Central to our solution was to create an authentic representation of the people, the process and the location behind the brand. Instead of vulgar, loud and overloaded labels, we focused on a creating a clean, traditional and more laid-back feeling that the beer deserves. Central to the design is an easy to use grid and typographic system to accommodate the many new brews, which of course also helps improve the overall brand cohesion. 

block next
  +image_link('bold', 'Bold', '1', 'light')
