doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Index
    include ../layout/includes/assets.jade
    include ../layout/includes/mixins.jade
  body
    #main.container
      .content
        ul.index
          li
            ul(data-powertip="1111111111111111111111")
              +index_image('throw-up', 'Throw Up', '1')
              +index_image('throw-up', 'Throw Up', '2')
              +index_image('throw-up', 'Throw Up', '3')
              +index_image('throw-up', 'Throw Up', '4')
              +index_image('throw-up', 'Throw Up', '5')
              +index_image('throw-up', 'Throw Up', '6')
              +index_image('throw-up', 'Throw Up', '7')
              +index_image('throw-up', 'Throw Up', '8')
              +index_image('throw-up', 'Throw Up', '9')
              +index_image('throw-up', 'Throw Up', '10')
          li
            ul(data-powertip="2222222222")
              +index_image('bold', 'Bold', '1')
              +index_image('bold', 'Bold', '2')
              +index_image('bold', 'Bold', '3')
              +index_image('bold', 'Bold', '4')
              +index_image('bold', 'Bold', '5')
              +index_image('bold', 'Bold', '6')
          li
            ul(data-powertip="This will be the tooltip text, 3333")
              +index_image('haandbryggeriet', 'Bold', '1')
              +index_image('haandbryggeriet', 'Bold', '2')
              +index_image('haandbryggeriet', 'Bold', '3')
              +index_image('haandbryggeriet', 'Bold', '4')
              +index_image('haandbryggeriet', 'Bold', '5')
              +index_image('haandbryggeriet', 'Bold', '6')
  
    include ../layout/includes/footer.jade
