extends ../layout/project-layout.jade

block variables
  - var Title = 'Future of print'
  - var Type =  'Editorial'
  - var Year =  '2014'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("news-for-our-generation","1"," ", "item")
  +project_image("news-for-our-generation","2"," ", "item")
  +project_image("news-for-our-generation","5"," ", "item")
  +project_image("news-for-our-generation","3"," ", "item")
  +project_image("news-for-our-generation","4"," ", "item")

block project_info
  | A meta-newspaper exploring implications of algorithmic content models on design and communication in the future of printed news. 

block project_meta
  dl.meta
    dt Duration:
    dd Two weeks
    dt Tutor: 
    dd Jaap de Maat


block prev
  +image_link('design-is-everything', 'Design is everything', '2', 'light')
  
block next
  +image_link('old-school-a-z', 'Old School A—Z', '1', 'light')
