extends ../layout/project-layout.jade

block variables
  - var Title = 'Future of print'
  - var Type =  'Editorial'
  - var Year =  '2014'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("news-for-our-generation","1"," ", "item")
  +project_image("news-for-our-generation","2"," ", "item")
  +project_image("news-for-our-generation","5"," ", "item")
  +project_image("news-for-our-generation","3"," ", "item")
  +project_image("news-for-our-generation","4"," ", "item")

block project_info
  | A meta-newspaper exploring implications of algorithmic content models on design and communication in the future of printed news. Based on a flexible layout and typographic system, the design emphasises a common frame of reference while simultaneously allowing the content to wholly shape the design. 

block project_meta
  ul.meta
    li
      ul.project-type
        li
          h3 Project Type
        li Editorial design
        li Visual identity
        li Typography
    li
      ul.project-duration
        li 
          h3 Project duration
        li Two weeks
    li
      ul.tutor
        li 
          h3 Tutor
        li Jaap de Maat

block brief
  li
    h3 Brief
  li
    p Investigate the layout and typo-graphic structure of newspapers. Analyse as many forms as you can find &ndash; Tabloids, right wing, left wing, local, foreign, anything goes. Organise the relevant research into a thoughtfully argued statement. You are encouraged to shape your own message. Any design decisions will be based on your statement. Absolutely anything is possible as long as you stick to these rules.

block context
  li
    h3 Statement
  li
    p Traditional newspapers are not personally tailored to my generation's needs, interests or world-view. We have neither the time nor the energy to read through most articles. What we need is a truly personal newspaper &ndash; a newspaper for our generation.
  //- li
  //-   h3 Concept
  //- li 
  //-   p What the future of printed news might look like if it were to use an algorithmic content model.

block prev
  +image_link('design-is-everything', 'Design is everything', '2', 'light')
  
block next
  +image_link('old-school-a-z', 'Old School A—Z', '1', 'light')
