extends ../layout/project-layout.jade

block vars
  - var Title = 'News for our generation'
  - var Type =  'Editorial'
  - var Year =  '2014'
  
block main-photo
  +main_image('news-for-our-generation', '1')

block project
  +project_image("news-for-our-generation","5","This is an image", "item")
  //.half--right Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. 
  +project_image("news-for-our-generation","3","This is an image", "item")
  //+project_image("news-for-our-generation","2","This is an image", "item")
  +project_image("news-for-our-generation","4","This is an image", "item")
  //.quote Bold
  //.quote Editorial
  

block blurb
  | An exploration of design and interaction, with some reflections on the role of the designer in a contemporary context. The loose form of the book facilitated interesting experimentation with the physicality of the book, and all its inherent qualities.
