extends ../layout/project-layout.jade

block variables
  - var Title = 'Old School'
  - var Type =  'Lettering'
  - var Year =  '2014'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("old-school-a-z","1"," ", "item")
  +project_image("old-school-a-z","2"," ", "item")
  +project_image("old-school-a-z","6"," ", "item")
  +project_image("old-school-a-z","3"," ", "item")
  //+project_image("old-school-a-z","4"," ", "item")
  //.half--right Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. Lorum ipsum solor sit amet. 
  //.quote Bold t
  //.quote Editorial
  

block project_info
  | Most alphabet books are aimed at children. This book is not aimed at teaching letterforms but instead to be a vehicle for typographic experimentation. The varying letterforms were inspired by a combination of the aesthetics of Suprematism, Constructivism and De Stijl (and a little hint of Roy Lichtenstein).

block brief
  | Produce a 32pp, 181×222mm, self-cover book where 26 of the pages feature an abstracted version of each letter of the alphabet. Explore each letterform and push them as far as possible. 

block context
  | This brief was given to us after an extensive amount of research with the goal in mind to sketch and collect as many examples of lettering as possible. This laid the foundation for the informed experimentation in this project.

block prev
  +image_link('news-for-our-generation', 'News for our generation', '1', 'dark')

block next
  +image_link('haandbryggeriet', 'Haandbryggeriet', '1', 'light')
