extends ../layout/project-layout.jade

block variables
  - var Title = 'Scarcity'
  - var Type =  'Installation'
  - var Year =  '2015'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +video('images/scarcity/installation_720p.mp4','full')  

block blurb
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis maiores aperiam quam deleniti atque adipisci, cupiditate laudantium labore, numquam incidunt pariatur non aliquam harum quas dolore eveniet nam iste soluta!
