extends ../layout/project-layout.jade

block variables
  - var Title = 'Nectarine Boogie Woogie'
  - var Type =  'Interactive'
  - var Year =  '2015'
  - var Description = 'Graphic designer studying at CSM.'

block project
  li
    .crop
      video(id="video" preload src="/images/scarcity/installation.mp4" type="video/mp4")
      //button(type="button" id="play-pause") Play
      //-poster="posterimage.jpg"

block project_info

block meta
  
