extends ../layout/project-layout.jade

block variables
  - var Title = 'Throw up'
  - var Type =  'Publication'
  - var Year =  '2015'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("throw-up","6"," ", "item")
  +project_image("throw-up","1"," ", "item")
  +project_image("throw-up","4"," ", "item")
  +project_image("throw-up","5"," ", "item")
  +project_image("throw-up","3"," ", "item")
  +project_image("throw-up","7"," ", "item")
  +project_image("throw-up","2"," ", "item")
  li
    ul.gif
      +project_image("throw-up","8"," ", "item")
      +project_image("throw-up","9"," ", "item")
      +project_image("throw-up","10"," ", "item")
      +project_image("throw-up","11"," ", "item")    
      +project_image("throw-up","12"," ", "item")
      +project_image("throw-up","13"," ", "item")
      +project_image("throw-up","14"," ", "item")
  +project_image("throw-up","15"," ", "item")
  +project_image("throw-up","17"," ", "item")
  +project_image("throw-up","18"," ", "item")
  
block project_meta
  ul.meta
    li
      ul.project-type
        li
          h3 Project Type
        li Publication
        li Typography
    li
      ul
        li
          h3 Team
        li Varvara Zelenko
        li Theo Bernard
        li Lars Høie
    li
      ul.project-duration
        li 
          h3 Project duration
        li 4 weeks
    li
      ul.tutor
        li 
          h3 Tutor
        li Kira Salter
        li Luise Vormittag

block project_info
  | Simultaniously a reflection on the act of debating, and an attempt to encourage a more inclusive and fun debate format. The content was drawn from each transcribed sentence from the various conversations and debates after the debates. 
  
block brief
  li
    h3 Brief
  li
    p The publications should creatively reflect the debates. You can use quotes, interviews, your own writing, diagrams, illustrations, photos, maps, typography or any other kind of creative response – whatever you think is the best format to capture and reflect on the content of the debates during a term. The only restrictions that apply are that your publication must be reproducible and exist in physical form.

block context
  li
    h3 Context
  li
    p The D&I debate series is conceived as a showcase of the broad range of opinions and approaches that exist in our discipline. We hope that they encourage you to expand your thinking about what design is or could be and help you to define your own position as a designer.  
  
block prev
  +image_link('old-school-a-z', 'Old School A—Z', '1', 'light')
