extends ../layout/project-layout.jade

block variables
  - var Title = 'Throw up'
  - var Type =  'Publication'
  - var Year =  '2015'
  - var Description = 'Graphic designer studying at CSM.'

block project
  +project_image("throw-up","3"," ", "item")
  +project_image("throw-up","1"," ", "item")
  +project_image("throw-up","4"," ", "item")
  +project_image("throw-up","2"," ", "item")
  +project_image("throw-up","5"," ", "item")
  +project_image("throw-up","6"," ", "item")
  +project_image("throw-up","7"," ", "item")
  li
    ul.gif
      +project_image("throw-up","8"," ", "item")
      +project_image("throw-up","9"," ", "item")
      +project_image("throw-up","10"," ", "item")
      +project_image("throw-up","11"," ", "item")    
      +project_image("throw-up","12"," ", "item")
      +project_image("throw-up","13"," ", "item")
      +project_image("throw-up","14"," ", "item")
  +project_image("throw-up","15"," ", "item")
  +project_image("throw-up","17"," ", "item")
  +project_image("throw-up","18"," ", "item")
  

block project_info
  | Simultaniously a reflection on the act of debating, and an attempt to encourage a more inclusive and fun debate format. The content was drawn from each transcribed sentence from the various conversations and debates after the debates. 
  
block prev
  +image_link('old-school-a-z', 'Old School A—Z', '1', 'light')
